doctype html
html
   head
      title= title
      style
         include style.css
   body
    include header
    article.content-bar
      h2.text-primary 404 :(
      span.text-secondary Sorry, not found.
